.chat-toggle-button {
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    width: 250px; /* Set a width */
    height: 50px;
    background-color: #02558a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .chat-toggle-button:hover {
    background-color: #02558a;
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    width: 250px; /* Set a width */
    height: 50px;
  }
  
  .chat-support-container {
    position: fixed; /* Fix it in the viewport */
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    width: 350px; /* Set a width */
    height: 400px; /* Set a height */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it appears above other elements */
  }
  
  .chat-header {
    background-color: #02558a;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .chat-message {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .user-message {
    background-color: #ccc;
    color: #000;
    align-self: flex-end;
  }
  
  .support-message {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
  }
  
  .chat-input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .chat-send-button {
    background-color: #023E8A;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .chat-send-button:hover {
    background-color: #023E8A;
  }
  
  /* Expand button next to the send button */
  .chat-expand-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
  }
  
  .chat-expand-icon {
    width: 20px;
    height: 20px;
  }
  
  /* Add expanded chat styles */
  .chat-expanded {
    width: 600px; /* Adjust width for expanded view */
    height: 600px; /* Adjust height for expanded view */
  }
  
  .chat-messages {
    height: calc(100% - 80px); /* Adjust height dynamically */
  }